body {
  /* background-color: black; */
}

.container {
  text-align: center;
}
h1 {
  color: black;
  /* margin: 0 auto; */
}
.btn {
  background-color: lightcoral;
}
.map {
  background-color: lightcoral;
  max-width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  height: 250px;
}
.weather {
  background-color: rgb(233, 162, 162);
  max-width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  height: 350px;
  border: solid 5px black;
}

.weather p {
  text-align: left;
  margin-left: 10px;
  color: brown;
}
